{% extends "home/base.html" %}

{% load static %}

{% block content %}

    <div class="container"> <!-- Container Open-->

        <div class='row'><!-- Row Open-->
        
            {% for prod in productos %}

                <div class="card m-3 col-3" style="width: 18rem;"> <!-- Card Open-->
                    <img src="{{prod.imagen.url}}" class="card-img-top h-100" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{prod.nombre}}</h5>
                    </div>
                    <div class="card-body">
                    <p>{{prod.precio}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-success">Agregar</a>
                    </div>
            
                </div><!-- Card Close-->
                
            {% endfor %}

        </div><!-- Row Close-->

    </div> <!-- Container Close-->


{% endblock %}