{% extends "home/base.html" %}

{% load static %}

{% block content %}
    <div class="container my-2">
        <div class="row">

            <form action="" method="POST" class="text-center">
                <!-- Es necesario poner el token para evotar 
                problemas de eguridad-->
                {% csrf_token %}
                <table class="text-white">
                    {{miFormulario.as_table}}
                </table>
                <input type="submit" value="Enviar" class="col-7">
            </form>
        </div>
    </div>
{% endblock %}